/**Ïû³ýÆ¯¸¡*/
.eliminate-float {
	float: none !important;
}

th, td {
	height: 25px;
}

thead {
	color: #f6fbf6;
	font-family: "STKaiti";
	background-color: #4a4444;
}

tbody {
	color: #2a8c7a;
	height: 30px
}

tfoot {
	color: red
}

.interval {
	background-color: #d9f3e2 !important;
	width: 1px !important;
	height: 21px !important;
	/* margin-right: 15px !important; */
	/* margin-left: 15px !important; */
	cursor: default !important;
}

input {
	height: 22px;
}