body {
	margin: 0;
	padding: 0;
}

.finance-settings, .finance-record-buttons {
	width: 100%;
	height: 32px;
	margin-top: 2px;
	margin-left: 2px;
	background-color: white;
}

.finance-settings-type {
	float: left;
	/* 	border: 1px black solid; */
	background-color: #ece1e3;
	border-radius: 3px;
	margin: 2px;
	padding: 2px;
	cursor: pointer;
}

.finance-settings-type:HOVER, .finance-record-confirm:HOVER {
	background-color: #fc4743;
}

.finance-record {
	width: 100%;
	height: 55%;
	/* 	border: 1px red solid; */
}

.finance-total {
	float: left;
	/* 	height: 35%; */
	/* 	display: none; */
	/* 	border: 1px red solid; */
}

#finance-total-pie {
	width: 35%;
}

#finance-total-line {
	width: 65%;
}

.finance-record-confirm {
	float: left;
	border-radius: 3px;
	border: 1px black solid;
	margin: 2px 28% 2px 5px;
	background-color: #fef1ef;
	font-size: 12px;
	padding: 2px;
	cursor: pointer;
	padding: 2px;
}

.finance-record-tables {
	width: 100%;
}

.record-tables-tr {
	border: 1px red solid;
	background-color: #e8e8e8;
	text-align: center;
	cursor: pointer;
}

.record-tables-tr:HOVER {
	background-color: #d7ffeb;
}

.finance-record-tables table {
	border: 1px #dcfcddsolid;
}

.finance-total-echart {
	/* 	float: left; */
	
}

.finance-operation {
	width: 300px;
	float: none;
	display: none;
	position: absolute;
	background-color: #e1f5ec;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	box-shadow: 0px 0px 10px 5px #dad5d5;
}

#finance-operation-form {
	margin: 20px;
}

.operation-form-filed {
	width: 280px;
}

.operation-form-filed input, select {
	width: 215px;
}

.operation-form-filed button {
	margin-left: 20px;
	margin-top: 5px;
}

.operation-form-title h5 {
	text-align: center;
}